<!-- in app/views/client/index.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>makeChange</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%#meta name="action-cable-url" content="ws:make-change.herokuapp.com/cable" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', "https://js.stripe.com/v2/", "https://checkout.stripe.com/checkout.js" %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"

                                   src="src/js/angular-socialshare.js"
                                   src="http://maps.google.com/maps/api/js"></script>
  </head>
  <body ng-app="makeChangeApp">


<!-- Navbar -->
<div ng-controller="HomePageController as controller">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a ui-sref="charitiesIndex" class="brand-logo"><%= image_tag 'MAKECHANGE', class: "logo-image" %></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><a ui-sref="charitiesIndex">charity search</a></li>
          <li>//</li>
          <li><%= link_to 'home', root_path %></li>
          <li>//</li>
          <li><a href="#" data-activates="slide-out" class="sideMenu" ng-click="controller.currentUser()">user menu</a></li>
        <% end %>
        </ul>
        <ul class="right hide-on-large-only">
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right" style="font-size: 3rem;">toc</i></a></li>
        </ul>
      <div>
    </nav>
  </div>
  <ul class="dropdown-content" id="dropdown1">
    <li><a ui-sref="charitiesIndex">charity search</a></li>
    <li><%= link_to 'home', root_path %></li>
    <li><a href="#" data-activates="slide-out" class="sideMenu" ng-click="controller.currentUser()">user menu</a></li>
  </ul>

  <!-- SideNav -->
  <div class="row teal lighten-4" style="margin-bottom: 0px;">
    <ul id="slide-out" class="side-nav">
      <li>
        <div class="userView">
          <div class="background teal lighten-3">
          <img ng-src="{{controller.user.img_url}}" alt="">
          </div>
          <a href="#!user"><img class="circle" src=""></a>
            <span class="black-text name">{{controller.user.username}}</span>
            <span class="black-text email">{{controller.user.email}}</span>
            <hr>
            <span class="black-text tokens"><span>tokens: </span>{{ controller.user.token_amount }}</span>
        </div>
      </li>

      <li>
        <a href="#">
          <stripe-form user="controller.user"></stripe-form>
        </a>
      </li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">SETTINGS</a></li>
      <li><%= link_to 'edit account', edit_user_registration_path, target: '_self' %></li>
      <li><%= link_to 'sign out', destroy_user_session_path, method: 'delete', target: '_self' %></li>
    </ul>
  </div> 
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="row clientView">
    <div class="col s12 infoWrapper">
      <ui-view></ui-view>
    </div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text left-align">makeChange</h5>
        <p class="grey-text text-lighten-4 left-align">
          When it comes to charity, every little bit counts! If you and a few other friends can scrounge together a few cents each, you can launch a successful fundraising campaign for the charity that matters most to you.Our site is built with the idea that people are more likely to donate to a charity when there is an achievable goal and sense of urgency. If you have some spare change, you can make change.
        </p>
        <p>
          <strong>Disclaimer: You will not be able to declare ANY donated funds on your tax return.</strong>
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text left-align">Learn More:</h5>
        <div class="col s3 offset-s1">
          <p class="left-align">Team:</p>
          <ul class="left-align">
            <li><a ng-href="https://liamtrobinson.bitballoon.com" class="grey-text text-darken-1 hoverable" target="_blank">Liam</a></li>
            <li><a ng-href="https://github.com/fhappy" class="grey-text text-darken-1 hoverable" target="_blank">Hassan</a></li>
            <li><a ng-href="https://www.linkedin.com/in/randygaleano/" class="grey-text text-darken-1 hoverable" target="_blank">Randy</a></li>
          </ul>
        </div>
        <div class="col s3 offset-s1">
          <p><a ng-href="http://orghunter.com/about-us" class="left-align grey-text text-darken-1 hoverable" target="_blank">OrgHunter</a></p>
        </div>
        <div class="col s3 offset-s1">
          <p><%= link_to "makeChange", root_path, target: "_self", class: "grey-text text-darken-1 left-align hoverable" %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
      &copy; 2017 makeChange
    </div>
  </div>
</footer>

  <script>
    $( document ).ready(function() {
      $('.sideMenu').sideNav({
        edge: 'right'
      });
    });
  </script>
  

  </body>
</html>