<style>
	.row {
		margin-bottom: 0px;
	}
	.headerContainer {
		background-image: url(assets/background/splashHands.png);
		opacity: 0.6;
		background-size: cover;
		height: 50vh;
	}
	.headerContainerInfo {
		position: absolute;
	}
	.information {
		display: flex;
		flex-direction: column;
	}
	.screenshot {
		width: 600px;
	}
	.moreInfo {
		margin-bottom: 50px;
	}
	.signUpLink {
		position: relative;
		z-index: 100;
	}
	.introText {
		position: relative;
		z-index: 100;
		font-weight: bolder;
		letter-spacing: -0.08em;
	}
	a {
		text-decoration: none;
		color: white;
	}	
	.headerLogo {
		background-color: black;
	}
</style>

	<div class="navbar-fixed">
		<nav class="z-depth-0">
		  <div class="nav-wrapper">

		 	<a href="/charities" class="brand-logo black-text"><%= image_tag('MAKECHANGE', class: "logo-image") %></a>
		  </div>
		</nav>
	</div>

<div class="row">
	<div class="col s12 headerContainer">
	</div>
	<div class="col s12 headerContainerInfo">
		<div class="col s6 offset-s3">
				<h3 class="introText">
					why keep change
					<br>
					when you can <em>makeChange</em>
				</h3>
				<a href="/charities">
					<button class="btn waves-effect waves-light" type="submit" name="action">
				 	<i class="material-icons right"></i>already a member?
					</button>
				</a>
				<button class="btn waves-effect waves-light" type="submit" name="action"><%= link_to('Sign Up!', new_user_registration_path) %>
				  <i class="material-icons right"></i>
				</button>
		</div>
	</div>
</div>



<div class="row moreInfo">
		<div class="col s12">
			<div class="row valign-wrapper">
				<div class="col l6 m12 s12">
				<%=image_tag("background/makeChangeLaptop.png", class: "screenshot")%>
				</div>
				<div class="col l6 m12 s12 left-align">
					<a class="btn btn-floating pulse left-align"><i class="material-icons">menu</i></a>
					<p class="left-align">
					Next you find the charity you want to donate to lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero repudiandae itaque, earum nobis temporibus.
					</p>
				</div>
			</div>
			<div class="row valign-wrapper">
				<div class="col l6 m12 s12">
					<a class="btn btn-floating pulse right-align"><i class="material-icons">menu</i></a>
					<p class="right-align">
					Next you find the charity you want to donate to lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero repudiandae itaque, earum nobis temporibus.
					</p>
				</div>
				<div class="col l6 m12 s12">
				<%=image_tag("background/makeChangeLaptop.png", class: "screenshot")%>
				</div>
			</div>
			<div class="row valign-wrapper">
				<div class="col l6 m12 s12">
				<%=image_tag("background/makeChangeLaptop.png", class: "screenshot")%>
				</div>
				<div class="col l6 m12 s12">
					<a class="btn btn-floating pulse left-align"><i class="material-icons">menu</i></a>
					<p class="left-align">
					Next you find the charity you want to donate to lorem ipsum dolor sit amet, consectetur lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero repudiandae itaque, earum nobis temporibus.
					</p>
				</div>
			</div>
		</div>
		
</div>

<footer class="page-footer">
	<div class="footer-copyright">
		<div class="container center-align">
			&copy; 2017 makeChange
		</div>
	</div>
</footer>



<script>
	$(document).ready(function(){
	  $('.slider').slider();
	});	

// Pause slider
$('.slider').slider('pause');
// Start slider
$('.slider').slider('start');
// Next slide
$('.slider').slider('next');
// Previous slide
$('.slider').slider('prev');
      
</script>

