<style>
	.row {
		margin-bottom: 0px;
	}
	.headerContainer {
		opacity: 0.6;
		background-size: cover;
		height: 50vh;
		margin-bottom: 50px;
	}
	.headerContainerInfo {
		position: absolute;
	}
	.information {
		display: flex;
		flex-direction: column;
	}
	.screenshot {
		width: 600px;
	}
	.moreInfo {
		margin-bottom: 50px;
	}
	.signUpLink {
		position: relative;
		z-index: 100;
	}
	.introText {
		position: relative;
		z-index: 100;
		font-weight: bolder;
		letter-spacing: -0.08em;
	}
	a {
		text-decoration: none;
		color: white;
	}	
	.headerLogo {
		background-color: black;
	}
	.header {
		margin-top: 100px;
	}
</style>

<div class="navbar-fixed">
	<nav class="z-depth-0">
	  <div class="nav-wrapper">
	 	<a href="/charities" class="brand-logo black-text"><%= image_tag(asset_path("logo.png"), class: "logo-image") %></a>
	  </div>
	</nav>
</div>

<div class="row">
	<div class="col s12 headerContainer" style="background-image: url('asset_path(background/splashHands.png))';">
	</div>
	<div class="col s12 headerContainerInfo">
		<div class="col s6 offset-s3 header">
				<h2 class="introText">
					why keep change
					<br>
					when you can <em>makeChange</em>
				</h2>
				<a href="/charities">
					<button class="btn waves-effect waves-light" type="submit" name="action">
				 	<i class="material-icons right"></i>already a member?
					</button>
				</a>
				<button class="btn waves-effect waves-light" type="submit" name="action"><%= link_to('Sign Up!', new_user_registration_path) %>
				  <i class="material-icons right"></i>
				</button>
		</div>
	</div>
</div>

<div class="row moreInfo">
		<div class="col s12">
			<!-- primary -->
			<div class="row valign-wrapper moreInfoContent">
				<div class="col l6 m12 s12">
					<%=image_tag("background/makeChangeLaptop.png", class: "screenshot")%>
				</div>
				<div class="container col l5 m12 s12 leftTextMargin">
					<a class="btn btn-floating pulse left-align"><i class="material-icons">work</i></a>
					<p class="left-align">
					First you purchase tokens. Tokens are the way in which we can communicate and transfer your donations to charities all over the nation.  Each token is worth 50 cents. You can click "user menu" in the top-right corner to see the link for adding tokens to your account.  When it comes to giving, every penny counts!
					</p>
				</div>
			</div>
			<!-- secondary -->
			<div class="row valign-wrapper moreInfoContent">
				<div class="container col l5 m12 s12 right-align">
					<a class="btn btn-floating pulse right-align"><i class="material-icons">menu</i></a>
					<p class="right-align">
					Next you find the charity to which you want to donate. You can search through all charities available by clicking "search charities" at the top of the page. Then you will see a list of some suggested charities based on what other users have donated to. You can then search for your desired charity by either name, category, or location (i.e. city or zipcode)!  You will see a list of suggested results as well as a list of all charities that meet your search criteria.  You can click "See Charities On Map" to see a dynamic map with all the charities on the page.  Click "Next" and "Previous" to navigate through your results. Once you've arrived at your desired charity, assuming you have purchased tokens, you can click "donate" to select how many you would like to contribute. Afterwards, you have the option to seamlessly share via facebook or twitter to your friends and family and ecourage them to contribute as well!
					</p>
				</div>
				<div class="col l6 m12 s12">
					<%=image_tag("background/makeChangeLaptop.png", class: "screenshot")%>
				</div>
			</div>
			<!-- tertiary -->
			<div class="row valign-wrapper moreInfoContent">
				<div class="col l6 m12 s12">
					<%=image_tag("background/makeChangeLaptop.png", class: "screenshot")%>
				</div>
				<div class="container col l5 m12 s12 leftTextMargin">
					<a class="btn btn-floating pulse left-align"><i class="material-icons">trending_flat</i></a>
					<p class="left-align">
					If a charity currently has no donations, the first donation starts a 72 hour timer for the 10 token goal to be met. Finally, once the goal has been met, your charity will recieve the $5.00 donation!
					To make sure the goal is acheived, make sure to share the charity's donation page via facebook and twitter!
					In the event that a charity cannot raise the ten tokens required within 72 hours, all tokens will be reimbursed to their respective donors.
					Be sure to check out your donations and favorite charities under your user profile page!
					</p>
				</div>
			</div>
		</div>
		
</div>

<footer class="page-footer">
	<div class="footer-copyright">
		<div class="container center-align">
			&copy; 2017 makeChange
		</div>
	</div>
</footer>


<script>
	$( document ).ready(function() {
    	$('select').material_select();
    	$('.parallax').parallax();
    });
</script>

