<style>
	.row {
		margin-bottom: 0px;
	}
	.headerContainer {
		background-image: url(assets/background/splashHands.png);
		opacity: 0.6;
		background-size: cover;
		height: 50vh;
		margin-bottom: 50px;
	}
	.headerContainerInfo {
		position: absolute;
	}
	.information {
		display: flex;
		flex-direction: column;
	}
	.screenshot {
		width: 600px;
	}
	.moreInfo {
		margin-bottom: 50px;
	}
	.signUpLink {
		position: relative;
		z-index: 100;
	}
	.introText {
		position: relative;
		z-index: 100;
		font-weight: bolder;
		letter-spacing: -0.08em;
	}
	a {
		text-decoration: none;
		color: white;
	}	
	.headerLogo {
		background-color: black;
	}
	.header {
		margin-top: 100px;
	}
</style>

	<div class="navbar-fixed">
		<nav class="z-depth-0">
		  <div class="nav-wrapper">

		 	<a href="/charities" class="brand-logo black-text"><%= image_tag('logo', class: "logo-image") %></a>
		  </div>
		</nav>
	</div>

<div class="row">
	<div class="col s12 headerContainer">
	</div>
	<div class="col s12 headerContainerInfo">
		<div class="col s6 offset-s3 header">
				<h2 class="introText">
					why keep change
					<br>
					when you can <em>makeChange</em>
				</h2>
				<a href="/charities">
					<button class="btn waves-effect waves-light" type="submit" name="action">
				 	<i class="material-icons right"></i>already a member?
					</button>
				</a>
				<button class="btn waves-effect waves-light" type="submit" name="action"><%= link_to('Sign Up!', new_user_registration_path) %>
				  <i class="material-icons right"></i>
				</button>
		</div>
	</div>
</div>

<div class="row moreInfo">
		<div class="col s12">
			<!-- primary -->
			<div class="row valign-wrapper moreInfoContent">
				<div class="col l6 m12 s12">
					<%=image_tag("background/makeChangeLaptop.png", class: "screenshot")%>
				</div>
				<div class="container col l5 m12 s12 leftTextMargin">
					<a class="btn btn-floating pulse left-align"><i class="material-icons">work</i></a>
					<p class="left-align">
					First you purchase tokens. Tokens are the way in which we can communicate and transfer your donations to charities all over the nation.
					</p>
				</div>
			</div>
			<!-- secondary -->
			<div class="row valign-wrapper moreInfoContent">
				<div class="container col l5 m12 s12 right-align">
					<a class="btn btn-floating pulse right-align"><i class="material-icons">menu</i></a>
					<p class="right-align">
					Next you find the charity you want to donate to. We've taken the time to make searching for your favorite charities as seemless as possible, with the ability to search by name, catagory, and locations!
					</p>
				</div>
				<div class="col l6 m12 s12">
					<%=image_tag("background/makeChangeLaptop.png", class: "screenshot")%>
				</div>
			</div>
			<!-- tertiary -->
			<div class="row valign-wrapper moreInfoContent">
				<div class="col l6 m12 s12">
					<%=image_tag("background/makeChangeLaptop.png", class: "screenshot")%>
				</div>
				<div class="container col l5 m12 s12 leftTextMargin">
					<a class="btn btn-floating pulse left-align"><i class="material-icons">trending_flat</i></a>
					<p class="left-align">
					Finally, once the goal has been met, all the proceeds are accumulated and your charity will recieve the donations!
					To make sure your charities donations are met, make sure to share the charities donation page via facebook and twitter!
					</p>
				</div>
			</div>
		</div>
		
</div>

<footer class="page-footer">
	<div class="footer-copyright">
		<div class="container center-align">
			&copy; 2017 makeChange
		</div>
	</div>
</footer>

