<!DOCTYPE html>
<html>
  <head>
    <title>MakeChange</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    
    <div class="wrapper">
      <%= yield %>
    </div>

  </body>
</html>
